@{ 
    var productId = (int)Model.ProductId;
}
@using (Html.BeginFormAntiForgeryPost(Url.Action("Add", "ShoppingCart", new { id = productId, area = "Orchard.Webshop" }))) {
    <button type="submit">@T("Add to shoppingcart")</button>
}