@{ 
    Style.Require("Orchard.Webshop.ShoppingCartWidget");

    var itemCount = (int)Model.ItemCount;
    var totalAmount = (decimal)Model.TotalAmount;
}
<article>
    <span class="label">Items:</span> <span class="value" data-bind="text: itemCount()">@itemCount</span><br />
    <span class="label">Amount:</span> <span class="value" data-bind="text: Globalize.format(calculateTotal(), 'c')">@totalAmount.ToString("c")</span><br />
    <div class="group">
        <div class="align right">
            <a href="@Url.Action("Index", "ShoppingCart", new { area = "Orchard.Webshop" })">View shoppingcart</a>
        </div>
    </div>
</article>