.group .align.left {
    float: left;
}

.group .align.right {
    float: right;
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../images/sprites.png");
}

.icon.edit {
    background-position: -8px -40px;
}

.icon.edit:hover {
    background-position: -40px -40px;
}

.icon.delete {
    background-position: -8px -7px;
}

.icon.delete:hover {
    background-position: -39px -7px;
}

ul.bullets li {
    background: url("../images/bullets.png") no-repeat;
    line-height: 30px;
    list-style: none;
    padding-left: 15px;
}

ul.bullets.action li {
    background-position: 0 0;
}

ul.bullets.action li:hover {
    background-position: 1px 0;
}

ul.bullets li a {
    text-decoration: none;
}

ul.bullets li a:hover {
    color: #434343;
}

article.form {
    padding: 10px;
    background: #f6f6f6;
}

article.form input[type="text"], input[type="password"], input[type="email"], input[type="tel"] {
    width: 250px;
}

article.form fieldset {
    margin-bottom: 20px;
}

article.form fieldset ul {
    list-style: none;
    margin: 0;
}

article.foirm fieldset ul li {
    margin-bottom: 3px;
}

article.form fieldset ul li:after {
    clear: both;
    height: 0;
    content: ".";
    display: block;
    visibility: hidden;
    zoom: 1;
}

article.form fieldset ul li .field-label {
    float: left;
    width: 250px;
}

article.form fieldset ul li .field-editor {
    float: left;
}

article.form fieldset ul li .field-label label:after {
    content: ":";
}

article.form .checkbox-and-label:after {
    clear: both;
    height: 0;
    content: ".";
    display: block;
    visibility: hidden;
    zoom: 1;
}

article.form .checkbox-and-label .checkbox {
    float: left;width: 25px;
}
 
article.form .checkbox-and-label .label {
    float: left;
}
 
article.form footer.commands {
    padding-top: 20px;
}
 
article.form footer.commands ul {
    list-style: none;
    margin: 0;
}
 
article.form footer.commands ul:after {
    clear:both;
    height:0;
    content:".";
    display:block;
    visibility:hidden;
    zoom:1;
}
 
article.form footer.commands ul button {
    margin: 0;
}