.group .align.left {
    float: left;
}

.group .align.right {
    float: right;
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../images/sprites.png");
}

.icon.edit {
    background-position: -8px -40px;
}

.icon.edit:hover {
    background-position: -40px -40px;
}

.icon.delete {
    background-position: -8px -7px;
}

.icon.delete:hover {
    background-position: -39px -7px;
}

ul.bullets li {
    background: url("../images/bullets.png") no-repeat;
    line-height: 30px;
    list-style: none;
    padding-left: 15px;
}

ul.bullets.action li {
    background-position: 0 0;
}

ul.bullets.action li:hover {
    background-position: 1px 0;
}

ul.bullets li a {
    text-decoration: none;
}

ul.bullets li a:hover {
    color: #434343;
}