article.widget-shopping-cart-widget header h1 {
    background: #f6f6f6;
    font-weight: bold;
    line-height: 24px;
    margin: 0;
    padding: 0 5px 0 5px;
}

article.widget-shopping-cart-widget article {
    padding: 5px;
    border: 1px dotted #ccc;
    line-height: 20px;
}

article.widget-shopping-cart-widget article span.label {
    width: 60px;
    font-style: italic;
    color: #aaa;
    display: inline-block;
}